* {
    text-align: center;
}
.homeimg {
    width: 80px;
    height: 70px;
    cursor: pointer;
}
.homeimg:hover {
    transform: rotate(10deg);
}
h1 {
    padding-top: 200px;
    font-style: oblique;
    font-size: 50px;
}
span.complete {
    font-size: 60px;
    font-style: normal;
    color: mediumblue;
    cursor: help;
}
span.computer {
    font-size: 55px;
    font-style: normal;
    color: dimgrey;
    cursor: help;
}
h3 {
    font: message-box;
    font-weight: bold;
}