* {
  text-align: center;
}
.homeimg {
  margin-top: 20px;
  width: 150px;
  height: auto;
  cursor: pointer;
  transition: transform 0.5s;
}
.homeimg:hover {
  transform: rotate(10deg);
}
h1 {
  margin-top: 100px;
  margin-bottom: 100px;
  font-style: oblique;
  font-size: 70px;
}
span.complete {
  font-size: 80px;
  font-style: normal;
  color: mediumblue;
  cursor: help;
}
span.computer {
  font-size: 80px;
  font-style: normal;
  color: dimgrey;
  cursor: help;
}
h3 {
  margin-top: 50px;
  font: message-box;
  font-weight: bold;
  font-size: 40px;
}
.des {
  margin-top: 50px;
  font: sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: darkgrey;
}
