.pb_text {
  font-size: 40px;
}
input {
  font-size: 20px;
}
.btn_submit {
  text-align: center;
  font-size: 15px;
  font-family: 고딕체;
  font-weight: 800;
  color: #ffffff;
  padding: 6px 12px;
  background: black;
  background-color: #428bca;
  border: #357ebd 1px solid;
  border-radius: 0px;
  cursor: pointer;
}
.btn_submit:hover {
  visibility: visible;
  opacity: 0.6;
}
.reward_text {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #428bca;
  border: none;
}
.reward_img {
  width: 300px;
  height: auto;
}
